<h1>Accounts#index</h1>

<h2> Incomes number <%= current_user.incomes.length %> </h2>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% current_user.incomes.each do |income| %>
    <tr>
      <td><%= income.name %></td>
      <td><%= income.balance %></td>
    </tr>
  <% end %>
  <%= link_to t("incomes.create_income_link"),  new_user_income_path(current_user) %>
</table>
