<h1>Accounts#index</h1>

<h2> Accounts number <%= @accounts.length %> </h2>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @accounts.each do |account| %>
    <tr>
      <td><%= account.title %></td>
      <td><%= account.text %></td>
    </tr>
  <% end %>

</table>
